// Paths
//$img: '../images/';

// Typography
$font-body-sans: 'Open Sans';
$font-body-sans-normal: 400;
$font-body-sans-semibold: 600;

$font-header: 'Merriweather';

// Text colors
$body-text-dark-color: #4a4a4a;
$body-text-mid-color: #6e6e6e;
$hyperlink-color: #4A90E2;
$success-color: #7ED321;

$swan-gray: #f8f8f8;
$feather-gray: #DBDBDB;
$mouse-gray: #979797;

$google-blue: #427cf0;
$google-blue-darker: #4173c9;
